@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}


body {
  background: #1b262c;
  color: #bbe1fa;
  -webkit-font-smoothing: antialiased;
}

body, input, button {
  font-family: 'Press Start 2P', cursive;
}

.Code {
  margin-left: 30px;
  margin-top: 30px;
}

.section {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
}

.Home {
  flex: 1;
  width: 100%;
}

.mainScreen {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex: 1;
}
 

.Home p{
  display: inline;
  font-size: 10px;
}

.Info {
  color: #bbe1fa;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.InfoTitle {
  margin-top: 70px;
  margin-left: 90px;
  line-height: 2;
  font-size: 30;
  margin-bottom: 80px;
}

@media (max-width: 1200px)  {
  .InfoTitle {
    margin-top: 80px;
    margin-bottom: 100px;
    font-size: 9px;
  }
}


.InfoBody {
  /* display: flex; */
  flex: 1;
  height: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  flex-flow: column nowrap;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 50px;
}

.InfoBody::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

.InfoBody::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.InfoBody::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}

.Contact {
  /* background: green; */
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

.Bio {
  /* background: yellow; */
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

.Projects {
  /* background: yellow; */
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

.Contact h1 {
  margin-left: 50px;
  font-size: 20px;
}

.FotoPerfil {
  height: 150px;
  width: 150px;
  border-radius: 75px;
  border: 2px solid #3282b8;
}

aside {
  width: 95px;
  height: 100vh;
  background: #0f4c75;
  box-shadow: 0 0 14px 0 rgba(0,0,0, 0.02);
  border-radius: 2px;
  padding: 30px 20px;
  border-right: 2px solid #3282b8;
}

.asideButton {
  width: 150%;
  margin-left: -25%;
  border: 0;
  margin-top: 30px;
  background: transparent;
  border-radius: 2px;
  color: #3282b8;
  cursor: pointer;
  transition: background 0.5s;
  display:flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.asideButton strong {
  font-size: 8px;
}

.asideButton:hover {
  color: #bbe1fa;
}