@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

a:link, a:visited, a:hover, a:active, a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}


body {
  background: #1b262c;
  color: #bbe1fa;
  -webkit-font-smoothing: antialiased;
}

body, input, button {
  font-family: 'Press Start 2P', cursive;
}

.Code {
  margin-left: 30px;
  margin-top: 30px;
}

.section {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
}

.Home {
  flex: 1;
  width: 100%;
}

.mainScreen {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex: 1;
}
 

.Home p{
  display: inline;
  font-size: 10px;
}

.Info {
  color: #bbe1fa;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.InfoTitle {
  margin-top: 70px;
  margin-left: 90px;
  line-height: 2;
  font-size: 30;
  margin-bottom: 80px;
}

@media (max-width: 1200px)  {
  .InfoTitle {
    margin-top: 80px;
    margin-bottom: 100px;
    font-size: 9px;
  }
}


.InfoBody {
  flex: 1;
  height: 100%;
  margin-left: 30px;
  margin-bottom: 30px;
}


.page {
  width: calc(100% - 20px);
  text-align: justify;
}

.page div{
  text-align: justify;
  line-height: 1.3;
}

.page li {
  text-align: left;
  list-style-type: none;
  font-size: 0.7rem;
  margin-bottom: 30px;
}

@media (max-width: 600px) {
  .page li {
    font-size: 0.5rem;
  }
}

.page p {
  font-size: 0.8rem;
  text-indent: 30px;
}

.page h1{
  margin-bottom: 40px;
}

.page a {
  color: #bbe1fa;
}

.FotoPerfil {
  height: 150px;
  width: 150px;
  border-radius: 75px;
  border: 2px solid #3282b8;
}

aside {
  width: 95px;
  height: 100vh;
  background: #0f4c75;
  box-shadow: 0 0 14px 0 rgba(0,0,0, 0.02);
  border-radius: 2px;
  padding: 30px 20px;
  border-right: 2px solid #3282b8;
}

.asideButton {
  width: 150%;
  margin-left: -25%;
  border: 0;
  margin-top: 30px;
  background: transparent;
  border-radius: 2px;
  color: #3282b8;
  cursor: pointer;
  transition: background 0.5s;
  display:flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 0.6rem;
}


.asideButton:hover {
  color: #bbe1fa;
}